body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  background-color: blanchedalmond;
}
#mySubmit {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  color: brown;
  border-radius: 5px;
}
